.form__wrapper {
    display: inline-flex;
    flex-direction: column;

    padding: 30px 240px 30px 30px;

    background-color: rgb(63, 67, 104);
    border: 1px solid black;
}

.form__label {
    font-size: 24px;
    margin-bottom: 10px;
}

.form__input {
    border: 1px solid darkblue;
    border-radius: 20px;
    width: 240px;
    height: 40px;
    margin-bottom: 24px;
    font-size: 20px;
    padding: 5px 15px 5px;
}

.form__button {
    display: block;
    cursor: pointer;

    width: 240px;
    height: 44px;
    font-size: 16px;
    background-color: rgb(85, 146, 226);
    border-color: aqua;
    border-radius: 40px;
}